<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- Suite -->
<suite name="Suite" parallel="false">
	<!-- Test -->
	<test name="Test" preserve-order="true">
		<classes>
			<class name="com.vv7.controllers.Runner">
				<methods>
					<!-- <include name="test_NetManage"></include> -->
					<include name="test_Settings"></include>
				</methods>
			</class>
		</classes>
	</test>
</suite> 